<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.udesk">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application>
        <activity
            android:name="cn.udesk.activity.UdeskHelperActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Udesk_Theme" />
        <activity
            android:name="cn.udesk.activity.UdeskHelperArticleActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Udesk_Theme" />
        <activity
            android:name="cn.udesk.activity.UdeskFormActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Udesk_Theme" />
        <activity
            android:name="cn.udesk.activity.WorkOrderWebViewActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Udesk_Theme" />

        <activity
            android:name="cn.udesk.activity.UdeskChatActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Udesk_Theme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="cn.udesk.activity.UdeskZoomImageActivty"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Udesk_Theme" />

        <activity
            android:name="cn.udesk.activity.UdeskOptionsAgentGroupActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Udesk_Theme" />

        <activity
            android:name="cn.udesk.activity.UdeskWebViewUrlAcivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Udesk_Theme" />

        <activity
            android:name="cn.udesk.photoselect.PhotoSelectorActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Udesk_Theme" />

        <activity
            android:name="cn.udesk.photoselect.PreviewActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Udesk_Theme" />

        <activity
            android:name="cn.udesk.photoselect.PictureVideoPlayActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Udesk_Theme" />

        <activity
            android:name="cn.udesk.camera.UdeskCameraActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Udesk_Theme" />

        <provider
            android:name="cn.udesk.provider.UdeskProvider"
            android:authorities="${applicationId}.udesk_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/udesk_provider_paths" />
        </provider>

    </application>

</manifest>
