<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.udesk">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FLAG_GRANT_READ_URI_PERMISSION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <application>
        <activity
            android:name="cn.udesk.activity.UdeskHelperActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Udesk_Theme" />
        <activity
            android:name="cn.udesk.activity.UdeskHelperArticleActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Udesk_Theme" />
        <activity
            android:name="cn.udesk.activity.UdeskFormActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Udesk_Theme" />
        <activity
            android:name="cn.udesk.activity.WorkOrderWebViewActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Udesk_Theme" />

        <activity
            android:name="cn.udesk.activity.UdeskChatActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Udesk_Theme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="cn.udesk.activity.UdeskZoomImageActivty"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Udesk_Theme" />

        <activity
            android:name="cn.udesk.activity.UdeskOptionsAgentGroupActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Udesk_Theme" />

        <activity
            android:name="cn.udesk.activity.UdeskWebViewUrlAcivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Udesk_Theme" />

        <activity
            android:name="cn.udesk.photoselect.PhotoSelectorActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Udesk_Theme" />

        <activity
            android:name="cn.udesk.photoselect.PreviewActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Udesk_Theme" />

        <activity
            android:name="cn.udesk.photoselect.PictureVideoPlayActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Udesk_Theme" />

        <activity
            android:name="cn.udesk.camera.UdeskCameraActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Udesk_Theme"
            />
        <provider
            android:name="cn.udesk.provider.UdeskFileProvider"
            android:authorities="${applicationId}.udeskfileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/udesk_provider_paths" />
        </provider>


    </application>

</manifest>
