<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="udesk.gaodemapdemo">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 查看网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--用于提高GPS定位速度-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!--写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--读取缓存数据-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 更改设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/android:Theme.Translucent.NoTitleBar"
        >


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".LocationActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <activity android:name=".ShowSelectLocationActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <activity android:name=".SearchPositionActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <!-- 高德地图设置key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="95152d09295275f2447d2db45a54c1bc" />
        <!-- 定位需要的服务 -->
        <!--<service android:name="com.amap.api.location.APSService" >-->
        <!--</service>-->

    </application>

</manifest>
